.limiter {
  width: 100%;
  margin: 0 auto;
}

.login-container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-color: #ebebeb;
}

.wrap-login {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

/*
|--------------------------------------------------------------------------
| Button styles
|--------------------------------------------------------------------------
*/
.cancel-button,
.login-button {
  outline: none !important;
  font-size: 16px !important;
  line-height: 1.2 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 55px;
  border-radius: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-button {
  color: #fff !important;
  border: none !important;
  background-color: $primary !important;
}

.cancel-button {
  color: $primary !important;
  background-color: transparent !important;
  border: 1px solid $primary;
}

.cancel-button:hover,
.login-button:hover {
  color: white !important;
  background-color: $primary-dark !important;
}


/*
|--------------------------------------------------------------------------
| inputs styles
|--------------------------------------------------------------------------
*/

.wrap-input {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.input:focus {
  background-color: #FAFAFA;
  border: 1px solid black !important;
}

.input {
  color: #555555;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 40px;
  padding: 0 25px 0 25px;

  outline: none;
  border: none;
}

/*
|--------------------------------------------------------------------------
| Alert styles
|--------------------------------------------------------------------------
*/

.alert-input {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #FFA9B2;
  border-radius: 2px;
}

.alert-label {
  color: #FFA9B2 !important;
}

/*
|--------------------------------------------------------------------------
| Link styles
|--------------------------------------------------------------------------
*/

.link-login {
  color: #D3D3D3;
}

.link-login:hover {
  color: #D3D3D3;
}

